[2020-05-17 12:09] Lastique commented on #85
@odinsy You may need to disable AVRCP in bluetoothd by adding `--noplugin=avrcp` to its command line. See https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/issues/881.

[2020-05-17 12:21] berglh commented on #85
I just paired up my Momentum 2's and saw the same message:
[code]
Interestingly, the AptX A2DP profile still seems to work even though this is the case:
[code]

[2020-05-17 13:36] odinsy commented on #85
@Lastique thank you!
I have added `--noplugin=avrcp` and it works now!
@berglh i have the same output
[code]

[2020-05-17 14:47] sylv-io commented on #111
Looks like @EHfive is right. You have to enable "High quality mode" first.

[2020-05-17 23:25] Moosieboy commented on #108
Works great. Many thanks for packaging!

[2020-05-20 04:07] sriv commented on #33
I see something similar in popOS

[code]

`/etc/pulse/default.pa` has the following entries:

[code]
I tried to replace `load-module module-bluetooth-discover` with `load-module module-bluetooth-discover a2dp_config="ldac_eqmid=sq"` but it doesn't work.

The device I'm trying to pair is FiiO uBtr - https://www.fiio.com/%CE%BCbtr

This device supports aptX (which I use in my android phone)

Please

[2020-05-20 11:41] userofryzen commented on #66
I am interested too, but.. may be it's not a problem of that modules(?)

[2020-05-20 11:47] jaccc commented on #66
this script works for me when correct port is found
https://github.com/TheWeirdDev/Bluetooth_Headset_Battery_Level/blob/master/bl_battery.py

[2020-05-20 20:06] ipeacocks commented on #85
Thanks @berglh, you manual is working like a charm! Thanks you for packaging and for all other for developing.
But why this is not included to pulseaudio/bluez/etc by default? Some license problems or what?

[2020-05-21 10:44] soredake commented on #85
@ipeacocks https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/227

[2020-05-21 15:22] ObeseChicken opened #112 "Mpow Flame S, can't use aptX only aptX HD on ubuntu but can on arch?"
I have 2 systems. 1 is ubuntu 18.0.4 and one is arch. I've installed the codecs into both.

On my arch system with KDE I can switch between aptx, aptx HD and SBC. On ubuntu it fails when I try anything besides aptX HD.

Same thing with Flame 2, it would only let me use AAC on ubuntu.

[code]

Am I missing something?

[2020-05-21 15:24] ObeseChicken commented on #112
This is the error: [pulseaudio] module-bluez5-device.c: Refused to switch profile to a2dp_sink_aptx: Unavailable profile

[2020-05-22 20:28] teranex commented on #108
Thank you @berglh for packaging!

[2020-05-22 22:26] berglh commented on #85
That sounds promising for AptX users, as far as I can tell, LDAC still has a licensing conflict (Apache) with PulseAudio (GPL).

[2020-05-25 10:25] bhack commented on #66
Please check https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/issues/722#note_503760

[2020-05-25 19:32] chillje commented on #111
Perfect works great after changing the profile in android app.

Short question before I close this issue.
Any chance to have the mic working in Linux with acceptable sound quality (not like HSP/HFP)?

[2020-05-26 19:08] YihaoPeng commented on #111
Unless we can write the headset firmware ourselvse, I think we have no chance. The current headset firmware only supports specific Bluetooth profiles: HSP / HFP / A2DP, and multiple profiles cannot be used at the same time.

HSP / HFP is required for microphone access. But once you switch to HSP / HFP, the A2DP audio will be interrupted immediately.

In addition, the A2DP function of the headset i

[2020-05-26 19:25] YihaoPeng commented on #103
In Android, there is a option called "Bluetooth absolute volume", when it is enabled, you can adjust the system volume by sliding on the headset. When it is disabled, the headset has an independent internal volume.

[2020-05-27 19:41] adamsmd commented on #85
Before I start, @berglh, thank you so much for packaging this.

I am, however, having trouble getting aptX to work.  `a2dp_sink_aac` and `a2dp_sink_sbc` work fine, but `a2dp_sink_aptx`, `a2dp_sink_aptx_hd`, and `a2dp_sink_ldac` are showing up as unavailable (`available: no` in the following code).  In `pavucontrol` under the "Configuration" tab they are listed with "(unavailable)" at the end.

(No

[2020-05-27 21:44] berglh commented on #85
@adamsmd you're welcome. As you're using the Sony WF-1000XM3, these headphones don't actually support AptX according to the specifications, it seems to support SBC and AAC.
![image](https://user-images.githubusercontent.com/12455338/83075172-bf2b4f00-a0b6-11ea-94a9-cedcc15caf3b.png)

You can try the steps in https://github.com/EHfive/pulseaudio-modules-bt/issues/111 where they seem to get LDAC wor

[2020-05-27 21:57] adamsmd commented on #85
Thank you for the reply @berglh.  I had indeed overlooked/forgotten that part of the device specs.  Thus, everything is working fine.

[2020-05-28 12:54] ipeacocks commented on #111
@chillje check this https://askubuntu.com/a/1120106/217142
I've tried that with mine Sony WH1000XM3 and seems it's working but e.g. Zoom crashes when this option is on. Try it maybe it will be better for you.

[2020-05-28 22:23] joakim-tjernlund opened #113 "blueman-applet 2.1.3 open popup window in background or minimized"
Whenever I click on applet to see my devices, the window either opens behind other windows or
even minimized.

I ran a blueman-applet --loglevel debug and ther was no output when a clicked the icon

Using MATE (marco wm) 1.24

[2020-05-28 22:26] joakim-tjernlund commented on #113
oops, wrong SW pkg

[2020-05-28 22:26] #113 closed

[2020-06-01 03:04] #99 closed

[2020-06-01 07:52] gvecchicert opened #114 "PPA Ubuntu 20.04"
Ubuntu 20.04 is out. Will it be supported via PPA?

[2020-06-03 11:22] abach commented on #114
https://github.com/EHfive/pulseaudio-modules-bt/issues/85#issuecomment-551390000
https://github.com/EHfive/pulseaudio-modules-bt/issues/85#issuecomment-567175392

Using the recipes from the above comments on issue #85 about Ubuntu 19.10, I was able to build and use modules, changing step 3 in @berglh's instructions to:

[code]

and adding

[code]

before step 7 from @zylxpl.

[2020-06-03 11:25] berglh commented on #114
@gvecchicert @abach I have created a PPA for 19.10 and 20.04, instructions are here: https://github.com/EHfive/pulseaudio-modules-bt/issues/85#issuecomment-625634213

[2020-06-04 19:25] mwhincup commented on #85
Thanks so much for packaging this @berglh.

I'm a **Ubuntu 20.04 Focal Fossa** user with **SONY WH-1000XM3** headphones.

Adding your PPA and installation of  `libldac` and `pulseaudio-modules-bt` modules went without a hitch.

After a reboot and connection of my headphones, the output from `pactl list` is as follows:

[code]
All is working perfectly. Thanks!

[2020-06-05 10:23] Rapiz1 opened #115 "Microphone support"
Sorry if this is not the right place to ask. I'm using this module for my headset and in modes other than HSP/HFP, the microphone doesn't work. And HSP/HFP has very bad quality. According to [here](https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/issues/776#note_522208), A2DP supports microphone, though there could be some doubts. So is there any way to support high quality sound and recordi

[2020-06-06 11:51] EHfive commented on #112
Maybe you need to install `ffmpeg`.

[2020-06-06 11:51] #112 closed

[2020-06-06 11:52] #111 closed

[2020-06-06 11:52] #102 closed

[2020-06-06 11:54] EHfive commented on #66
Close, I think it's not our business

[2020-06-06 11:54] #66 closed

[2020-06-07 10:12] Hayao0819 opened #116 "New stable package for Arch Linux"
I have created a stable version of PKGBUILD in the AUR that gets the sources from the release instead of git.
https://aur.archlinux.org/packages/pulseaudio-modules-bt
Could you please add a link for this package to the Wiki?

[2020-06-07 14:19] EHfive commented on #116
Added, https://github.com/EHfive/pulseaudio-modules-bt/wiki/Packages/b41427da82b14b4a12876fc65f431bcd1b821bef

[2020-06-07 14:19] #116 closed

[2020-06-07 15:51] userofryzen commented on #115
I have been reading this topic. Some possible to merge with that git so we can obtain better micro input?

[2020-06-07 17:39] EHfive commented on #115
It's about FastStream codec. Not every A2DP codec has microphone support.

[2020-06-07 17:53] #3 closed

[2020-06-07 17:53] EHfive commented on #114
Hey @berglh, thanks a lot for your contribution.

You could just fire an new issue to hold feeds, I would assign it to you.

[2020-06-07 17:53] #114 closed

[2020-06-07 18:57] EHfive commented on #97
I would try to add an option which allows setting device volume gain after that device connected to module.

Or merge https://github.com/EHfive/pulseaudio-modules-bt/tree/absolute_volume but with some modifications if I got free times.

[2020-06-07 18:58] EHfive commented on #103
Move to #97

[2020-06-07 18:58] #103 closed

[2020-06-07 19:03] EHfive commented on #107
Due to the complexity of original pulseaudio bluetooth module source which this repo based on, it's not easy to change its design in state mutations, I am not going to change this behavior.

[2020-06-07 19:03] #107 closed

[2020-06-08 06:17] berglh commented on #85
@zylxpl @EHfive I think we can close this issue now that @EHfive has added the PPA instructions and both 19.10 and 20.04 is now available in the berglh PPA. What do you think?

[2020-06-08 07:33] gvecchicert commented on #114
Thanks a lot.
May this be merged with official ubuntu binaries sooner or later?

[2020-06-08 08:11] soredake commented on #63
`sudo sed -i 's|load-module module-bluetooth-discover$|load-module module-bluetooth-discover a2dp_config="sbc_min_bp=47 sbc_max_bp=47 sbc_freq=44k sbc_cmode=dual sbc_alloc=loudness sbc_sbands=8 sbc_blen=16"|g' /etc/pulse/default.pa`

[2020-06-08 08:31] Hayao0819 commented on #115
There is a link to this issue in the comment of AUR that I maintain. Is there anything relevant?

[2020-06-08 08:34] userofryzen commented on #115
The possibility of use the microphone of the Bluetooth device without having to loose so much quality in the audio output I think. Have you connected to a good mobile phone the device and call? Vs call with the computer connected to a device with micro? The quality difference are ...quite big (I am speaking of HSP hfp not ad2p . It's appear that ad2 p have micro feature in so many systems and not

[2020-06-08 10:19] berglh commented on #114
@gvecchicert At this stage I've only seen support for this being mentioned for AptX, I believe there is an ongoing license conflict between Sony LDAC (Apache) and pulseaudio (GPL), although I'm not entirely sure what the solution for this will be long term. Other codecs are being worked on by the looks of things :)

https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/227/commits

[2020-06-08 10:53] gvecchicert commented on #114
Thanks for your feedback!

[2020-06-08 12:28] Rapiz1 commented on #115
So is it reasonable for this project to have the feature? Or it's out of scope?

[2020-06-10 02:35] slgray commented on #97
Have same low volume issue on Airpods too, unfortunately Airpods do not have "button" to control the internal volume.

[2020-06-11 14:49] mirh commented on #51
This is probably more important
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/288

[2020-06-13 16:30] Ph0rk0z commented on #51
Yes please, I'd like to see battery level finally.

[2020-06-14 10:33] EHfive commented on #115
https://github.com/EHfive/pulseaudio-modules-bt/issues/1#issuecomment-504440280

Therefore, I would like to make this repo as a temporary workaround for extra codecs support instead of merging it to upstream.

My initial purpose of creating this repo is that add LDAC support to GNU/Linux. And this project is being out of tree. I would not making huge changes to current codebase (no new features).

[2020-06-14 10:40] EHfive commented on #51
I would not merge this. But the idea of https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/288 is great!

I am reading/learning HSP/HFP/A2DP/... specs and bluez sources currently.
I would like to implement a daemon which handles both HSP/HFP and A2DP.

[2020-06-14 10:45] EHfive commented on #93
It's all in wiki. https://github.com/EHfive/pulseaudio-modules-bt/wiki#how-to-choose-codec-
Install bluez >= 5.51 for codec switching features.

[2020-06-14 10:45] #93 closed

[2020-06-14 14:00] userofryzen commented on #115
But the thing to support good audio quality with hsp and micro is not going to be supported here if I am understanding well. Right?
I mean we will have to choose between good sound quality with music or good quality in videoconference for example.

[2020-06-15 02:51] EHfive commented on #115
You can contribute, or, wait.

[2020-06-15 10:35] joakim-tjernlund commented on #51
There is an perl prototype daemon at https://github.com/pali/hsphfpd-prototype
It works fine for my and a few more people

[2020-06-16 14:00] btreecat commented on #115
@Rapiz1 so I have the same issue, but only on my desktop it seems. My laptop is using the same lib for aptx support.

The main software diff between my systems is my laptop is on XFCE and my desktop KDE. Are you running KDE for your desktop?

I have no yet experimented with moving my USB Bluetooth dongle to my laptop and trying again to work out if it's a hardware/driver issue or not.

I think bec

[2020-06-20 15:17] mattia-b89 commented on #14
I have a very similar (if not the same) issue:
I configured my bluetooth headphone using APTX HD but sometimes it connects using HSP/HFP profile
I can "easily" fix it by using `pavucontrol` utlity and choosing preferred mode in the drop-down menu because other modes are even available!

I am on Arch Linux w/ bluez-5.54-2 pulseaudio 13.0-3 and pulseaudio-modules-bt-git r146.b02f9b6-1 (as of 18 Apr

[2020-06-25 19:42] mhalano commented on #114
The package libldac ara available for Debian Unstable (Sid) and Ubuntu N+1 (Groovy)

[2020-06-28 03:17] nosliper commented on #85
@berglh many thanks for effort. It is apparently working fine for the WH-1000XM3 on Ubuntu 20.04, all the way up to LDAC. I just wonder which version of LDAC it is using (990Kbps, 660Kbps or 330Kbps). Although it is noticeably better than SBC on linux or Windows, it is nowhere near the high quality that I get with my Android via LDAC of even AptX. I guess this is a limitation of my laptop.

[2020-06-28 03:33] ValZapod commented on #85
@berglh It should support even ABR (adaptive bitrate), no? See https://github.com/brucehw/libldac/commit/b4f70c5b723ddd3e7b4785e81cb0120d5d8fd861 and https://github.com/brucehw/libldac/commit/4b9a419058bcb351562fff1aa84bbcf01866e122

[2020-07-05 07:20] katsar0v commented on #85
Tried the steps mentioned above:

[code]

Am trying it on ubuntu 20.04 lts btw, but I successfuly installed the debs and got these logs:

[code]

[2020-07-07 05:19] berglh commented on #85
@katsar0v did you install the debs via the PPA or by manually downloading them? Here I show the PPA:
https://github.com/EHfive/pulseaudio-modules-bt/issues/85#issuecomment-624503956

I don't think this is your problem though. The output on the endpoint registration looks good with bluez and the codec modules.

It looks to me that you are having troubles with the device being paired correctly. If y

[2020-07-07 05:29] berglh commented on #85
@ValZapod @nosliper

My understanding is that the LDAC codec tries to pick the highest bitrate according to the link quality of the bluetooth connection. It might be that your bluetooth controller on your laptop is an older bluetooth version than that of your phone. i.e. bluetooth 4 verse bluetooth 5. It's also possible that your phone signal strength is just better than compared to your laptop, o

[2020-07-07 05:30] katsar0v commented on #85
It works now. To be honest I don't what fixed it. I added and removed ppa, tried to compile and reinstalled pulseaudio.. and after the last reboot it was fixed. The same thing happened on my other 18.04 machine.

Maybe I did something wrong so I repeated the steps many times

[2020-07-07 05:31] berglh commented on #85
@katsar0v Glad to hear you're all sorted

[2020-07-07 05:39] berglh commented on #114
@mhalano In the comments it says this:
[code]
We will probably still continue building the pulseaudio-modules for LDAC support, but can hopefully not need to package libldac in the pulseaudio-modules-bt PPA :)

[2020-07-16 20:06] SpineEyE commented on #51
Has there been any progress? Optimally I would like to use your repository merged with https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/288

Because I can't switch my headset to HSP/HFP modeo with your repo, I created [this AUR package](https://aur.archlinux.org/packages/pulseaudio-hsphfpd/) together with [hsphfpd](https://aur.archlinux.org/packages/hsphfpd-git/) which gives m

[2020-07-17 11:00] mirh commented on #51
Of course high quality A2DP is gonna be better than HFP.. But you can't really compare the two things.
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/254
This is the PR you are waiting for if any.

[2020-07-17 13:13] SpineEyE commented on #51
Well yeah. But with your repo, as well as with current Pulseaudio stable release I can not even use HFP, that's my problem. Sometimes it works, sometimes it shows as unavailable, sometimes it's available but when I want to select it, it automatically jumps to "off".

I know, this repo is not a solution for high quality HFP, but with the merge request 288 I can't listen to music as the quality is t

[2020-07-20 06:22] ashrafuzzaman commented on #115
Love the effort guys. If we get the microphone support then it would have been perfect.

[2020-07-22 11:16] adianas commented on #72
I have the same problem,  it was working fine for few months but now it can only recognized profile is SBC (OnePLus Bullets Wireless 2)
before:
[code]

now:
[code]

I noticed that pulse audio module bet is not loaded, I reinstalled everything including pulse but all to avail

[code]

[code]

[2020-07-27 21:52] adianas commented on #72
@pedro-hro

I managed to fix the problem

[code]
pulseaudio logs showed the following warning
[code]

Reinstalling  FFmpeg codec library `(libavcodec58_91) ` didn't help but it worked after I installed `ffmpeg-4-libavcodec-devel:`

[code]
I hope that helpes.

[2020-07-30 12:23] megalloid opened #117 "Can not install module on Ubutntu 20.04 LTS"
Distro: Linux megalloid-ubuntu 5.4.0-40-generic #44-Ubuntu SMP Tue Jun 23 00:01:04 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

-- Checking for module 'dbus-1'
--   No package 'dbus-1' found
CMake Error at /usr/share/cmake-3.16/Modules/FindPkgConfig.cmake:463 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/share/cmake-3.16/Modules/FindPkgConfig.cmake:643 (_pkg

[2020-07-30 21:54] EHfive commented on #117
Install any `*-devel` packages relating to items in https://github.com/EHfive/pulseaudio-modules-bt#general-installation.

By the way, you could use https://github.com/EHfive/pulseaudio-modules-bt/wiki/Packages#ppaberglhpulseaudio-a2dp.

[2020-07-30 21:54] #117 closed

[2020-08-03 08:34] domenkozar commented on #51
With Freebuds 3 I have the same problem. I'm fine switching profiles as long as I can have one with quality audio and one with a working mic.

Going to try to package it for NixOS.

@SpineEyE can you switch between the two profiles? I'm also confused why this needs to be merged here and not into pulseaudio.

[2020-08-03 16:28] SpineEyE commented on #51
Yes, using pali's hsphfpd branch I can switch between high quality audio without mic, and HSP with mic. In fact there are multiple audio profiles (HFP can't be used, but isn't useful anyway):

![ksnip_20200803-182011](https://user-images.githubusercontent.com/837230/89204331-35b46380-d5b6-11ea-8443-aff12b13eacf.png)

It would preferrably be merged into Pulseaudio, but there is a discussion that pa

[2020-08-03 21:16] domenkozar commented on #51
Seems like @georgewhewell packaged it in https://github.com/georgewhewell/nixos-host/blob/98c6ccfb30072d1bcc207a74f223590d906737ff/modules/hsphfpd.nix

[2020-08-07 00:57] anonymix007 opened #118 "Infinite reconnect of headphones"
After installing module I'm getting infinite reconnection and this error in logs:

Process 14179 (pulseaudio) crashed and dumped core.

This usually indicates a programming error in the crashing program and
should be reported to its vendor as a bug.

Sometimes I was able to see headphones as output device in sound settings, but never aptX HD codec choice (headphones support it)

[2020-08-07 16:27] anonymix007 commented on #118
Logs:
[log messages.txt](https://github.com/EHfive/pulseaudio-modules-bt/files/5042514/log.messages.txt)
[log messages1.txt](https://github.com/EHfive/pulseaudio-modules-bt/files/5042518/log.messages1.txt)

/var/lib/systemd/coredump/ directory contains about half GiB of lz4 files, zip: https://yadi.sk/d/LN1KTPZfZQrqRQ

[2020-08-08 02:50] EHfive commented on #118
Have you missed build step below ?
[code]

[2020-08-08 03:02] anonymix007 commented on #118
Maybe.
Anyway, after second reinstall it worked well.
Thanks for support.

[2020-08-08 03:02] #118 closed

[2020-08-09 01:33] ashic opened #119 "Installing this breaks non-LDAC A2DP"
I installed this, and in blueman manager in archlinux, I can select my new Sony WH-1000XM4 headphones, and after connecting, can change the profile to LDAC. However, non-LDAC A2DP has stopped working. This is useful in two cases:

1. If I set the XM4 to connect to two devices, then LDAC isn't an option. In this case, it's flipping to headset mode with awful sound.
2. Connecting another bluetooth s

[2020-08-09 15:26] EHfive commented on #119
Dup #107 in some point.

[2020-08-09 15:26] #119 closed

[2020-08-09 15:29] EHfive commented on #119
Use `pactl list cards` to list available profiles.

[2020-08-09 17:51] ashic commented on #119
I'm not sure this is entirely a duplicate.

If I install this package, and the connect the Sony WF-1000XM3 earbuds, they connect as HSP/HFP. I see the other A2DP options this package adds, but none of them work. Running `pactl list cards` gives the following:

[code]

If I then install the pulseaudio-bluetooth module (which removes this one), I get A2DP Sink back. `pactl list cards` returns this:

[2020-08-09 18:32] EHfive commented on #119
The name `LE_WF-1000XM3` suggest that that device is using BLE instead of BR/EDR which A2DP depends on.
Maybe other bluetooth host like Android/IOS device is still connected with that WF-1000XM3 via BR/EDR.

[2020-08-09 22:41] ashic commented on #119
The name is LE_WF-1000XM3 while it is not connected. Once connecting, it changes to WF-1000XM3, and then once connected, it goes back to LE_WF-1000XM3. The audio profile is definitely A2DP sink though, as the non-A2DP is quite horrendous if manually selected. The XM3s can't connect to two devices simultaneously, and I've also tested with the phone turned completely off. The results are the same an

[2020-08-10 03:09] EHfive commented on #119
That might be a bug. Please file a [new issue](https://github.com/EHfive/pulseaudio-modules-bt/issues/new?assignees=EHfive&labels=bug&template=bug_report.md&title=%5BBUG%5D) for your "WF-1000XM3" issues.

[2020-08-13 10:11] ElbinP commented on #20
pulseaudio-module-bluetooth-freeworld Does this give high bitrate SBC? How can I verify that?

[2020-08-13 13:24] gombosg commented on #20
Sorry, I don't know. I packaged the vanilla version. If `pactl list sinks` doesn't give you the info that you want, you may want to recompile with cusom parameters based on documentation.

[2020-08-15 08:57] ElbinP opened #121 "[BUG] HSP/HSF is not available for my bluetooth headset."
**Describe the bug**
HSP/HSF is not available for my bluetooth headset.
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
Need to be able to select HSP/HSF for the headset profile.

**Environment (please complete the following information):**
 - Distribution  Fedora 32
 - Pulseaudio Version 13.99
 - Version 1.41
 - Installing via rpmfusion repos

**Pulseaudio

[2020-08-17 15:18] xstsx commented on #47
I think I found the solution: https://hackaday.io/project/165208-an-old-rotary-phone-as-bluetooth-set/log/162491-setting-up-the-bluetooth

changing imtu making it more stable. no more Sync errors when changing tracks.

[2020-08-17 22:43] EHfive commented on #47
https://github.com/EHfive/pulseaudio-modules-bt/commit/75af4993efd1f3de5bb7f0238c4d38725944a8d1 enable `autodetect_mtu` by default, hope it helps

[2020-08-19 09:23] LizardWithHat commented on #72
Had the same problem with pulseaudio not finding the codec library, however installing the devel package or reinstalling libavcodecs didn't work.
The right codecs are there if libavcodecs58/libavutils56 (in my case) are installed. They just aren't named right for the module to find.
Symbolic linking them (libavcodec.so.58.XX -> libavcodec.so.58, same for util) worked just fine. That's just a worka

[2020-08-19 12:16] xstsx commented on #47
I would say it's working, but only for playing music when you stays only at APTX-HD profile(+notifications sound)

But if you receive call ,profile changing to HSP/HFP. After a call it's trying to switch back to APTX-HD and then it's falling to alot of Sync errors.

Overall playing music over APTX-HD became more stable, no more skips/silence/hanging up. Overall playback latency stable at 195-200ms

[2020-08-21 22:22] AndersonGI opened #122 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.
I've have this error on startup after install this module
Failed to register as a handsfree audio agent with ofono: org.freedesktop.DBus.Error.ServiceUnknown: The name org.ofono was not provided by any .service files
**To Reproduce**
Steps to reproduce the behavior:
Just install and turn on the notebook
**Expected behavior**

[2020-08-21 23:51] #122 closed, assigned to EHfive

[2020-08-25 06:29] ashleysommer opened #123 "[BUG] HSP/HFP works on my desktop PC, but not on my Laptop (same Headphones)"
**Describe the bug**
As described in the title.. Both my laptop and my desktop PC are on Ubuntu 20.04 and both using the same module from the PPA here: https://launchpad.net/~berglh/+archive/ubuntu/pulseaudio-a2dp
AptX and AptX-HD streaming to my headphones works great on both computers.
When I'm on my Desktop PC, I can switch into HSP/HFP mode which allows me to use my microphone, for skype calls

[2020-08-26 01:33] EHfive commented on #123
Close in favor #121 , it's seems a bluez/kernel issue.

[2020-08-26 01:33] #123 closed

[2020-08-26 01:37] EHfive commented on #121
In my case, it's
[code]

[2020-09-02 11:44] casta commented on #121
Hello,

I have the same issue. Plain pulseaudio has the same issue.
There is a patch against pulseaudio-13 that fixes this and make possible to switch to HFP profile (found here : https://bugzilla.redhat.com/show_bug.cgi?id=1311238 but this refers to some pull requests referenced).

I confirm the fix, but with this, I loose apt-Xwith A2DP  provided by your bt moduels fork.

You may eventually port

[2020-09-07 23:57] nloewen opened #124 "[BUG] A2DP profiles unavailable for WH-1000XM4 when multipoint is enabled"
When my WH-1000XM4 headphones have multipoint enabled, all A2DP profiles are unavailable. When multipoint is disabled on the headphones, SBC, AAC, and LDAC are available as expected. A2DP does work with pulseaudio-modules-bluetooth when multipoint is enabled.

Distro: Arch
Pulseaudio: 13.0
pulseaudio-modules-bt: 1.4
Installed from: AUR

<details>
<summary>Pulseaudio logs (multipoint off)</summary>

[2020-09-08 06:52] lucasfijen commented on #124
I think that is a problem on the side of the headphone, from what I read at least ldac is disabled as soon as you turn on multipoint. You should get a pop up in the Sony app about that when enabling multipoint

[2020-09-08 07:11] EHfive commented on #124
Pulseaudio logs (multipoint on)
[code]

`SelectConfiguration` is a dbus method called by bluez when A2DP negotiation started.

Based on your "`avinfo` of device (multipoint on)", LDAC is unavailable when "multipoint" is on, but bluez is still calling `SelectConfiguration` on LDAC endpoint (`/MediaEndpoint/A2DPSource/VENDOR/LDAC`).

It might be working with SBC and AAC endpoints registered only, tr

[2020-09-08 14:31] nloewen commented on #124
I am not expecting LDAC to be available with multipoint on, but was expecting the other codecs to work. I uninstalled libldac and I can now make use of AAC with multipoint turned on. Switching to SBC breaking things and I have to reconnect to get the headphones working again, but that should be an avoidable issue, haha. I haven't tested without ffmpeg, because I need it for other things.

Here's t

[2020-09-08 17:09] nloewen commented on #124
Not sure if this is related or a new issue. AAC audio cuts out periodically, and I have to switch profiles to OFF and back to AAC to get it going again.

<details>
<summary>pulseaudio logs</summary>

[code]
</details>

[2020-09-09 20:06] dbenjaminmiller commented on #124
I have the same issue with libldac installed.

[2020-09-14 02:27] #85 closed

[2020-09-18 05:46] nikil commented on #124
Same here, with LDAC installed multipoint breaks A2DP for all codecs, but when I build pulseaudio-modules-bt with `cmake -DCODEC_LDAC=OFF ..` multipoint works fine with AAC.  It would be nice if somehow bluez was smart enough to not try to negotiate with an unavailable endpoint.

I haven't had any issues with AAC cutting out, but I just bought these headphones yesterday.  I'll report back if I see

[2020-09-18 18:13] Borsayt opened #125 "ccmake .. error"
ccmake .. throws an error;

-- Checking for module 'sbc'
--   No package 'sbc' found
CMake Error at /usr/share/cmake-3.16/Modules/FindPkgConfig.cmake:463 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/share/cmake-3.16/Modules/FindPkgConfig.cmake:643 (_pkg_check_modules_internal)
  CMakeLists.txt:45 (pkg_check_modules)

-- Configuring incomplete, errors oc

[2020-09-18 19:22] #125 closed

[2020-09-21 01:34] plumlis commented on #114
Will this ppa be upgrade to lastest version ?
it seems many bug is fixed and performance is improved.
https://github.com/EHfive/pulseaudio-modules-bt/commits/master

[2020-09-21 03:53] berglh commented on #114
@plumlis Sure thing, I'll do an updated build for v1.4 tag. Unfortunately, I'd prefer to wait for final version tags posted by @EHfive so that I can reference them via tagging rather than just building master which is just an arbitrary point of commits. When @EHfive is happy for a new release for the commits after March, I'll make another build then.

I also noticed in libLDAC repo, that some chan

[2020-09-21 05:32] berglh commented on #114
@plumlis The focal 20.04 build is being done now on LaunchPad: [https://launchpad.net/~berglh/+archive/ubuntu/pulseaudio-a2dp/+packages](https://launchpad.net/~berglh/+archive/ubuntu/pulseaudio-a2dp/+packages). When the v1.4 build is complete you should be able to install it and try it out - it seemed to load all modules in PulseAudio with my test build container. I will try it out on my laptop, l

[2020-09-21 05:59] berglh commented on #114
@plumlis OK, v1.4 is published and installable via the PPA. I saw an error in PulseAudio trying to load ofono:
[code]
I'm not sure if this is related to any fixes that you were expecting or if this is just my machine specifically. Anyway, LDAC is working with my Sony speaker, so perhaps open an issue if you are having issues and tag me in it.

[2020-09-21 08:01] berglh commented on #114
Just a comment, I tried to update for `eoan`, but it's now considered End of Life and Ubuntu PPA won't let me build new packages for it. Sorry `eoan` users, please upgrade to `focal` ^_^.

[2020-09-21 17:30] cpitclaudel commented on #115
I think it would be good to keep it open (re stale)

[2020-09-25 12:38] BAAZKonqi commented on #29
Hi, did the the aptX LL feature make it into the module?
Otherwise I'd really like to see your patched one. @ValdikSS

[2020-09-25 12:40] odensc commented on #29
@BAAZKonqi nope, but there is a [patch for it upstream](https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/227) (I haven't personally tested it)

[2020-09-27 23:23] nloewen opened #126 "Playback stops due to AAC encoding error"
I'm getting what looks like the same error as #34.
[code]
I don't necessarily expect this to be fixed in this project, since it looks like a problem in fdk-aac, but it would be nice if this could be turned into a temporary pause in playback rather than completely shutting the profile off.

[2020-09-28 12:47] nohajc commented on #100
It would be great if you could publish those changes. I already use pulseaudio built from your pull request to set different SBC profiles (another super-useful feature!) and I'd like to try aptX Low Latency too.

[2020-09-30 21:54] sergsagan commented on #117
Executing the command cmake:

cmake ..
-- Checking for module 'sbc'
--   No package 'sbc' found

help solve the problem

[2020-10-01 06:37] sergsagan opened #127 "[BUG] No package 'sbc' found"
I installed all the dependencies but could not install one
Executing the command cmake:

➜ **build git:(master) ✗ cmake ..**
-- Checking for module 'sbc'
-- **No package 'sbc' found**
CMake Error at /usr/share/cmake-3.16/Modules/FindPkgConfig.cmake:463 (message):
A required package was not found
Call Stack (most recent call first):
/usr/share/cmake-3.16/Modules/FindPkgConfig.cmake:643 (_pkg_check_

[2020-10-01 12:50] #127 closed

[2020-10-01 12:51] EHfive commented on #127
Devel package is required.
https://packages.ubuntu.com/focal/libsbc-dev

[2020-10-01 15:33] sergsagan opened #128 "[BUG]"
When I execute a command I receive such result

**build git:(master) ✗ cmake -DFORCE_LARGEST_PA_VERSION=ON ..**
-- The C compiler identification is GNU 9.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done

[2020-10-01 15:45] EHfive commented on #128
You have to install all required packages.

And you don't have to file an new issue.

[2020-10-06 18:28] Tanmay-Chavan opened #129 "[BUG]"
I built the module on my system as per the given instructions, and now my pc cannot find/discover any other device

**To Reproduce**
had blueman, bluez installed, and followed the provided steps

**Expected behavior**
to achieve aptX profile or at least some other profile than A2DP/Headset, but instead, I can't discover any device

**Environment (please complete the following information):**
 -Ubu

[2020-10-06 18:35] #129 closed

[2020-10-07 16:24] smirnov opened #130 "[BUG]"
**Describe the bug**
Connecting the bluetooth headphones to laptop running Fedora 33 with Pulseaudio 13.99.0 and pulseaudio-module-bluetooth-freeworld 1.4-2 succeeds, then connection quickly drops before any sound is routed to the headphones.

**To Reproduce**
Steps to reproduce the behavior:
Pair the headphones, observe succesful pairing operation and a quick disconnect after that

**Expected beh

[2020-10-08 08:57] gombosg commented on #51
Off:
When I packaged this for Fedora last year, I was aware that [pali's changes](https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/227) into PA could make this package obsolete quick... but it didn't. Which is actually a bit sad.

[2020-10-08 11:30] mirh commented on #51
You can help them: https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/issues/962
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/issues/733

[2020-10-08 14:16] perceival commented on #130
Have the same problem plus attempt to dnf install end up with unsuccessful installation despite the --allowerasing switch:
Error: Transaction test error:
  file /usr/lib64/pulse-13.99/modules/libbluez5-util.so from install of pulseaudio-module-bluetooth-13.99.2-1.fc33.x86_64 conflicts with file from package pulseaudio-module-bluetooth-freeworld-1.4-2.fc33.x86_64
  file /usr/lib64/pulse-13.99/modul

[2020-10-08 15:03] smirnov commented on #130
@perceival getting around the second error could be done with

dnf shell
install pulseaudio-module-bluetooth
remove pulseaudio-module-bluetooth-freeworld

[2020-10-08 15:41] perceival commented on #130
Thanks. Was doing that so far with rpm -e -nodeps.

[2020-10-10 20:01] vrossum commented on #130
I have similar issues with pulseaudio 13.99 on Ubuntu 20.10 (beta).
Bluetooth connects (receiver beeps), but then disconnects again.
I don't have the coredump.

The relevant part in the logs seems to be:
ct 10 20:51:07 localhost pulseaudio[4344]: dbus: path=/MediaEndpoint/A2DPSource/VENDOR/APTXHD, interface=org.bluez.MediaEndpoint1, member=SetConfiguration
Oct 10 20:51:07 localhost pulseaudio[4344

[2020-10-11 19:36] marek141017 commented on #85
Hello

I need some help
My Ubuntu is 20.04 LTS
I did as was suggested here
But, when I connect my MPOW I got:
`	Properties:
		device.description = "Mpow X3"
		device.string = "F8:8A:3C:31:E2:31"
		device.api = "bluez"
		device.class = "sound"
		device.bus = "bluetooth"
		device.form_factor = "headset"
		bluez.path = "/org/bluez/hci0/dev_F8_8A_3C_31_E2_31"
		bluez.class = "0x2c0404"
		bluez.alias =

[2020-10-11 19:40] marek141017 commented on #85
<code>sdsdsss`
`sdsdsdsd`
<code>

[2020-10-11 21:13] marek141017 commented on #121
Hello

I need some help
My Ubuntu is 20.04 LTS
I did as was suggested here
But, when I connect my MPOW I got:
<pre>
	Name: bluez_card.F8_8A_3C_31_E2_31
	Driver: module-bluez5-device.c
	Owner Module: 14
	Properties:
		device.description = "Mpow X3"
		device.string = "F8:8A:3C:31:E2:31"
		device.api = "bluez"
		device.class = "sound"
		device.bus = "bluetooth"
		device.form_factor = "headset"
		blue

[2020-10-13 11:33] IDeathByte opened #131 "[BUG] Pulse 13.99.2 profiles not work"
After connecting headphones, all profiles exclude HFP not work

**To Reproduce**
1-pair headphones
2-try to switch profile

**Environment**
 - Distribution Manjaro (unstable branch) /Arch (stable)
 - Pulseaudio Version - 13.99.2
 - Version 1.4
 - Installing via AUR

**Pulseaudio logs:**

D: [pulseaudio] bluez5-util.c: Registering /MediaEndpoint/A2DPSource/VENDOR/LDAC on adapter /org/bluez/hci0
D:

[2020-10-13 12:35] iafilatov commented on #130
FWIW I had the same crash (I think) and fixed it my checking out pulseaudio that exactly matched the installed version.
[code]
Connect to a BT audio device
[code]
Find out system pa version and check out
[code]
Build and install normally. Restart pa
[code]
Or with `-vvv`
[code]

[2020-10-13 12:51] vrossum commented on #130
Thank you.
Unfortunately
 git -C pa/ checkout v13.99.2
says that 13.99.2 is not on git (yet?).
So I'll wait.

[2020-10-13 12:52] vrossum commented on #131
See bug #130.
Did you get
git -C pa/ checkout v13.99.2
to work?

[2020-10-13 13:08] iafilatov commented on #130
It's there
[code]

I mean, if you have 13.99.2 installed then it must've come from _somewhere_. And that's the official repo.

[2020-10-13 13:09] asavah commented on #130
You might want to learn about git submodules a bit:
[code]

Update pa/ submodule first eg.
[code]

[2020-10-13 13:29] IDeathByte commented on #131
git -C pa/ checkout v13.99.2
 to work?

yep i try. no changes

[2020-10-13 17:29] smirnov commented on #130
Well, then it seems that the modules were simply not built with correct PA. Latest version in RPMFusion 1.4.3 works just fine with PA 13.99.2, so this bug can be closed, especially since it's not a bug of the project itself, more of a delayed build.

[2020-10-13 17:29] #130 closed

[2020-10-15 09:52] soredake opened #132 "Add Ubuntu 20.10 (groovy) package to ppa"
Ubuntu 20.10 will release in 22 october.
@berglh

[2020-10-15 10:35] AwesomeIbex commented on #131
Same issue on manjaro KDE

[2020-10-17 11:22] berglh commented on #85
Hi Marek,

Firstly, your device doesn't support LDAC or AptX. It looks like only SBC and maybe AAC, but it's not clear based on what you pasted.

It does look like Bluez/Pulseaudio is not recognising the HSP/HFP capability, which doesn't have anything to do with this repository directly. This should be directly supported by Bluez/Pulseaudio - I'm not sure where in the bluetooth/audio stack this ne

[2020-10-17 11:28] berglh commented on #132
@EHfive You can assign this to me. @soredake There appear to be some issues with functionality against PulseAudio 13.99.2, which I am assuming might be present in Groovy. I was thinking about this earlier this week I need to package it up and try it out, lets track the build here. Can you add 20.10 and Ubuntu to the title to make it easy for everyone to see?

[2020-10-17 14:04] EHfive commented on #132
@berglh Great. Thanks for your effort.

[2020-10-17 14:59] marek141017 commented on #85
Hello berglh,

You are right. My device doesn't support LDAC and AptX.
It does SBC and AAC.

Also I found out that modern bluetooth headsets doesn't provide HSP, only HFP.
But for HFP they need a modem to connect to, without it they wont provide this profile.
So it looks like I need to try Ofono+fake modem.

Thank you.

[2020-10-18 00:07] ZZZXXX0110 opened #133 "Ubuntu 20.04 PPA wants to remove wine-stable and related packages when installing, why is that?"
When attempt to install the packages via the PPA (sudo add-apt-repository ppa:berglh/pulseaudio-a2dp
) on Ubuntu 20.04, these are the messages:

[code]

Notice that it wants to remove wine-stable, wine-stable-i386:i386, winehq-stable, winetricks.

What does pulseaudio-modules-bt have to do with wine?

[2020-10-20 02:11] berglh commented on #132
Ok, initial build is looking kind of promising.  I will try to push to the PPA this evening after work. :crossed_fingers:

[code]

[2020-10-20 07:31] berglh commented on #132
@soredake @strawberrypie

I've now updated the PPA to include a build of `pulseaudio_modules_bt` at version `1.4` and `libldac` at version `2.0.2.3`. The `pulseaudio_modules_bt` package built successfully and is just currently being published, so it should be available sometime in the next hour or so.

Please follow instructions for the `berglh` PPA to test and report back to me if you have any pr

[2020-10-20 08:02] berglh commented on #132
Looks like there is now an official libldac for Groovy, so might deprecate that from future builds.

[2020-10-21 18:43] ZLima12 commented on #133
I don't have much experience with apt, but it seems like it thinks that wine is only a dependency. If you can mark it as explicitly installed, perhaps it won't try to remove it.

[2020-10-22 04:13] berglh commented on #133
I will need to check this out in the build environment, installing wine first and then the package. My speculation is that libavcodec58 is a dependency for wine-stable taking.

[2020-10-22 12:07] porschemad911 opened #134 "ffmpeg_libs.c: Cannot open libavcodec library: libavcodec.so.58. /lib/i386-linux-gnu/libxvidcore.so.4: cannot make segment writable for relocation: Operation not permitted"
I compiled from source on Debian Sid using script as follows (disabling AAC /LDAC support at build time):

[code]

I get several of the following errors in /var/log/syslog after starting bluetooth.service.

Kernel version is: 5.9.0-1-686-pae

Runtime libs installed are:
libavcodec58/unstable,now 7:4.3.1-4 i386
libavutil56/unstable,now 7:4.3.1-4 i386
pulseaudio-utils/unstable,now 13.0-5 i386
pulsea

[2020-10-22 12:14] porschemad911 commented on #134
My headset is Sennheiser HD 4.50 BTNC. I can connect it via SBC codec and play fine, however aptX is unable to connect.

I am also running Lubuntu 18.04.5, on which I installed pulseaudio-modules-bt from `ppa:eh5/pulseaudio-a2dp`. This works fine for aptX with this headset.

[2020-10-22 22:32] ikeboy commented on #132
This doesn't work for me on 20.10. Package worked fine on 20.04.

In pulseaudio, it shows the aptx formats but shows as (unavailable).

![Screenshot from 2020-10-22 18-32-13](https://user-images.githubusercontent.com/12200693/96936913-fa2e8480-1494-11eb-9287-879928a557c0.png)

[2020-10-23 01:21] berglh commented on #132
Hi Ikeboy, are you sure that the Mpox X3 supports AptX? Do they work with with SBC or AAC mode?

Thanks for testing :+1:

[2020-10-23 01:23] berglh commented on #132
@ikeboy Can you show us the output of `pactl list` where the item is the headphones in question?

[2020-10-23 05:12] ikeboy commented on #132
It worked in aptx under 20.04, or at least didn't say unavailable. Output:
[code]

[2020-10-23 05:15] ikeboy commented on #132
It works with SBC and AAC.

Maybe it never worked with aptx but just didn't show the error on 20.04?

[2020-10-23 08:34] berglh commented on #132
@ikeboy I couldn't really tell you. There were issues with devices remembering previous profiles which was fixed with newer versions. It's possible that it wasn't communicated to you via the interface. Regardless, given the specifications of the device, I would expect it to fail to apply that profile due to the fact the device isn't advertising that profile as a capability (the available: no|yes s

[2020-10-23 16:12] bmn001 commented on #132
I upgraded to 20.10 from 20.04 with this installed.  Now none of my bluetooth devices will connect.

Blueman shows "Connection Failed: Protocol not available" when attempting to connect (or pair) various pairs of true wireless earbuds.

[2020-10-23 17:08] jaccc opened #135 "Support for 2 SBC profiles"
Is it possible to support 2 SBC profiles: SBC and SBC Dual
My headphones don't work properly with sbc_cmode=dual
My speaker doesn't work properly with sbc_max_bp=76

[2020-10-23 23:12] berglh commented on #132
@bmn001 I'm glad to hear it. I just updated my XPS laptop to 20.10 because of your issue.

I uncommented line one for the PPA in the `/etc/apt/sources.list.d/berglh-ubuntu-pulseaudio-a2dp-focal.list` file and both LDAC and AptX are working for me on `pulseaudio 13.99.2`.

Additionally, I tested `HSP/HFP` (still sounds terrible), `SBC`, `AAC` and it's all working just fine for me once I set the cod

[2020-10-23 23:28] berglh commented on #133
@ZZZXXX0110 ZLima12 has a good point, you can check the state of the package using `dpkg -l | grep -i wine`, it should say `ii` to the left of the package.

Looking at this from the other angle where I have the modules already installed, I seem to be able to install `wine-stable` just fine without getting any package conflicts, such as having to remove the modules before installing. Keep in mind I

[2020-10-29 10:03] IDeathByte commented on #131
I fixed this after install bluez-qt-git. all works fine now
Manjaro KDE

[2020-10-30 05:33] rjshrjndrn opened #136 "[Question] How to change LDAC bit rate or force highest abrQualityModeID"
Hi,
First of all thanks for this awesome work.
One small question.
In wiki, I can see that LDAC [BitRate](https://github.com/EHfive/pulseaudio-modules-bt/wiki#ldac-bitrate-table)
My current device is Sony wh-1000mx4. And How can I check, on what bit rate audio is being streamed. And is there any way to force, `abrQualityModeID` to `0`

[2020-10-30 07:57] EHfive commented on #136
https://github.com/EHfive/pulseaudio-modules-bt#configure

https://github.com/EHfive/pulseaudio-modules-bt#module-arguments

[2020-10-30 07:57] #136 closed

[2020-11-01 05:52] ZLima12 commented on #136
Useful links, thanks. Out of curiosity though, is there a way to check the current quality while it's set to the default?

[2020-11-07 08:46] ghjp opened #137 "[BUG] bluetooth HSP/HFP does not work with autodetect_mtu=1"
**Describe the bug**
When the feature autodetect_mtu is switched on (the default setting) no sound can be heard in a bluetooth headset. I have tested this with 5 different BT headsets. After a while the connection to the headset is dropped.

**To Reproduce**
Connect a bluetooth headset and switch pulseaudio card profile to HSP/HFP. Now play music and set the output to the headset.

**Expected beha

[2020-11-07 13:20] Frederick888 commented on #124
I'm experiencing something totally different under Arch.

When multipoint is enabled, I can use A2DP/AAC but not other profiles:
[code]

When multipoint is disabled however, I can only use HSP/HFP and there's actually no sound coming from the headphones.

If I run `pacmd set-card-profile bluez_card.94_DB_56_xx_xx_xx a2dp_sink_ldac`, the headphones then disappear from the available devices list. I

[2020-11-09 08:41] zaeph opened #138 "[BUG] Can't build with libpulse/pulseaudio v13.99.3"
**Describe the bug**
The package doesn't build with libpulse/pulseaudio v13.99.3.  Downgrading libpulse/pulseaudio to v13.0 fixes the issue.  I didn't bisect to find the exact culprit.

**To Reproduce**
- Update libpulse/pulseaudio to v13.99.3.

**Environment (please complete the following information):**
 - Arch
 - libpulse/pulseaudio v13.99.3
 - [AUR package which fetches upstream](https://aur.a

[2020-11-09 12:29] asavah commented on #138
It does build fine with v13.99.3 here, it's not arch but pulse and pulse-audio-modules-bt are both build from sources.
You may want to raise this issue with you distros package maintainer.
And BTW `The package doesn't build` is not a bug report but a waste of time.
If it doesn't build there has to be an error message which you fail to provide.

[2020-11-09 12:40] zaeph commented on #138
Apologies for wasting your time, then.

[2020-11-09 12:40] #138 closed

[2020-11-21 12:17] userofryzen commented on #115
Pali is making many advances for them patches being merged. But we are waiting to pulsesudio to release a new versions that never is releasing xD

[2020-11-24 21:51] aljazzair opened #139 "Module settings ignored? Cannot connect Bose 700 in Dual Channel SBC HD/XQ mode."
Hello and thank you for creating this module.

I am opening this issue and requesting help after reading through all the issues, researching extensively online and wiping out my previous operating system (Centos8.2) just to make this module work using its highest settings.

My new OS is a fresh install of arch-like Manjaro with latest kernels.

My headphones are Bose 700.

As it stands, I have tri

[2020-12-01 14:06] andrewrembrandt opened #140 "Incompatible with pulseaudio 14.0 release"
Hi EHfive,

Many thanks for a fantastic library / project!

Unfortunately, I've just had to downgrade my pulseaudio install to 13.99.3 (-1) on Arch linux, as was unable to pair bluetooth devices since upgrading to pulseaudio 14.0.

The following log message is all I've gathered so far:
[code]
Let me know if you'd like more details / logs etc?

Many thanks,

Andrew

[2020-12-01 15:54] EHfive commented on #140
You need to rebuild it whenever minor/major version of PulseAudio has changed in your system.

[2020-12-01 16:26] andrewrembrandt commented on #140
Ah, thank you, works perfectly after rebuild (d'oh!)

Again, really appreciate the project/library. Let me know where I can donate something?

[2020-12-01 16:26] #140 closed

[2020-12-02 18:53] JaneSmith opened #141 "Packaging issue? Cannot install on Fedora Silverblue 33 using RPM Fusion 33?"
I've just upgraded from Fedora Silverblue 32 to 33. Before the upgrade, I had to remove everything from RPM Fusion, and the RPM Fusion repos itself. After the upgrade, I re-added the latest RPM Fusion repos using the instructions on their website, rebooted, and then attempted to reinstall this using the following command from the wiki:

`rpm-ostree override remove pulseaudio-module-bluetooth --ins

[2020-12-02 20:15] mcarans commented on #115
Sadly there has been a dispute between Pali and the Pulseaudio mods and development there has stopped. Hence this project is very much needed.

[2020-12-03 15:20] EHfive commented on #115
Maybe a standalone bluetooth audio daemon handling both HSP/HFP and A2DP would be perfered.

[2020-12-03 17:06] EHfive commented on #115
PipeWire devs are working on their way. PipeWire already added hsphfpd support, it even got LDAC support now.

https://gitlab.freedesktop.org/pipewire/pipewire/-/commit/dd8573a5c244c624ff2ae46c3f15664c0b65e448

[2020-12-04 19:01] #132 closed

[2020-12-04 21:34] pali commented on #115
Hi there!

I'm Pali, author of the pulseaudio pull request which improved HSP, HFP and A2DP bluetooth profiles and added support for some new codecs. It looks like that pulseaudio developers locked my pull requests and also my account to mute me so I would not be able to write any response. And they have not wrote me anything, nor informed me about fact that they give me a ban. I was just contacte

[2020-12-05 03:47] EHfive commented on #115
Hi @pali, thanks for your 2 years work, sadly they are not accepted by PulseAudio devs.

Glad that you invited me, I am afraid that I am not capble to perform as a consultancy.

My fork actually comes 2 months later than your patchset on mailing-list. Although my fork is about LDAC initialy, If I know that before @ValdikSS metioned me on #1 than I would not   create this repo.

It pity that you go

[2020-12-05 04:24] ibrokemypie opened #142 "[BUG] Only SBC Available on WH-1000xm3"
**Describe the bug**
Only SBC is listed as available in pactl, pavucontrol and hcidump. Setting to LDAC or aptX in pavucontrol returns ``pulseaudio[1780]: Refused to switch profile to a2dp_sink_ldac: Unavailable profile`` in the journal. The headphones used are Sony WH-1000xm3 which definitely have support of LDAC and aptX.

**To Reproduce**
Connect to WH-1000xm3 headphones via bluetooth, either v

[2020-12-05 04:32] EHfive commented on #142
https://github.com/EHfive/pulseaudio-modules-bt/issues/111#issuecomment-629091180

[2020-12-05 11:11] aljazzair commented on #139
I would like to add that I just tested my hardware in a virtual machine with a distribution called Zenwalk, which incorporates SBC XQ patches to pulseaudio. Using the exact same bluetooth dongle, the Bose 700 headphones do connect in Dual Channel with 16/8 bands/lenghth and a Bitpool of 38. Quality is noticeably superior to regular SBC.
Therefore the headphones and dongle do support the higher SBC

[2020-12-05 22:01] jaccc opened #143 "unsupported codecs on QCC3020 device"
**Describe the bug**
all codecs aren't supported on Haylou GT1 Plus

**Environment (please complete the following information):**
Gentoo, net-wireless/bluez-5.55, media-sound/pulseaudio-13.0-r1

**`avinfo` of device:**
Stream End-Point #3: Audio Sink
	Media Codec: Vendor Specific A2DP Codec
		Vendor ID 0x0000004f
		Vendor Specific Codec ID 0x0001
		Vendor Specific Data: 0x32
		Vendor Specific Valu

[2020-12-06 05:27] #142 closed

[2020-12-06 10:28] pali commented on #115
This does not mean anything. Moving discussion [here](https://github.com/pali/hsphfpd-prototype/issues/11).

Do you mean daemon part which implements those profiles? Do you have a use case for it? pulseaudio and pipewire already are out of the game and I do not know any other audio project which would be interested in it.

[2020-12-07 19:02] aljazzair commented on #139
Hello
It seems no one can help so I am closing this issue.
I decided to use Pali's improvements instead, and they work well without issue for my setup:
https://gitlab.freedesktop.org/kapiwko/pulseaudio/-/issues/1
Thanks again for creating this module.

[2020-12-07 19:02] #139 closed

[2020-12-08 11:56] domenkozar commented on #51
Note that @pali has deleted that fork on gitlab.

[2020-12-08 12:19] mirh commented on #51
See https://github.com/EHfive/pulseaudio-modules-bt/issues/115#issuecomment-739032966

[2020-12-12 09:43] raffaem opened #144 "[BUG] unable to create file src/modules/alsa/mixer/samples/USB Device 0x46d:0x9a4--USB Mixer: Invalid argument"
**Describe the bug**
Harmless error in initializing submodule.

**To Reproduce**
[code]

**Expected behavior**
No error. However, the error is harmless. Following the subsequent instructions allow to compile and install the module. LDAC support is successfully installed

**Environment (please complete the following information):**
 - Distribution [e.g. Ubuntu, Fedora, Arch ...]: Kubuntu 20.10
 - P

[2020-12-12 13:13] EHfive commented on #144
It probably related with file system.
Assumed that `/media/raffaele/DATA/data/linux/software/` is on NTFS, the character `:` inside filename "USB Device 0x46d:0x9a4--USB Mixer" is invalid under NTFS.

[2020-12-12 13:13] #144 closed

[2020-12-12 14:29] raffaem commented on #144
Right, thanks!

But the module works anyway .. do I have to recompile?

[2020-12-12 14:31] raffaem opened #145 "Get it into official repositories"
Given that libdac* is on the official repositories of Ubuntu, is it possible to get this module into the official repositories?

Where do I have to open the issue for this module to get into the official repositories?

Is [pulseaudio-module-bluetooth](https://packages.ubuntu.com/groovy/pulseaudio-module-bluetooth) the right one?

[2020-12-12 14:38] EHfive commented on #145
No. And I am planning to deprecate this repo as long as PireWire is ready to go on bluetooth audio.

[2020-12-12 14:38] #145 closed

[2020-12-12 14:39] EHfive commented on #145
Please don't use bug template if you are not going to report a bug.

[2020-12-12 14:40] raffaem commented on #145
Why not? What is PireWire?

On Sat, Dec 12, 2020, 15:38 Bao, Huang-Huang <notifications@github.com>
wrote:

[2020-12-12 14:42] EHfive commented on #145
Sry, it's PipeWire.
See #1 for why.

[2020-12-14 05:41] sschuhmann commented on #121
I still have this issue

[2020-12-14 17:59] ktdreyer commented on #68
What changes do we need specifically for [pulseaudio-module-bluetooth-freeworld.spec](https://github.com/rpmfusion/pulseaudio-module-bluetooth-freeworld/blob/master/pulseaudio-module-bluetooth-freeworld.spec)? I see it already has `BuildRequires:  pkgconfig(fdk-aac)`.

Is this related to a difference between `fdk-aac` and `fdk-aac-free`?

[2020-12-16 18:36] gombosg commented on #141
Hi, I'm the Fedora packager. I don't use Silverblue, but is there something like `--allowerasing` there? If the issue persists, please report at bugzilla.rpmfusion.org. Thanks!

[2020-12-16 22:17] gombosg opened #147 "Pipewire coming to Fedora"
Hi @EHfive! I wanted to have a conversation here about pipewire.
It is coming to Fedora 34 next spring.
https://fedoraproject.org/wiki/Changes/DefaultPipeWire

Now, I think there are quite a lot of Fedora users for this package.
I'm unable to test Pipewire yet (I use F33 and can't install it properly).

Do you know how this package interacts with `pipewire-pulseaudio`?
Do you know if pipewire supp

[2020-12-16 22:43] soredake commented on #147
https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/249

[2020-12-16 22:43] EHfive commented on #147
aptX, LDAC (https://gitlab.freedesktop.org/pipewire/pipewire/-/merge_requests/341) is working on PipeWire . aptX HD still have problems. AAC support has not been finished yet.

Basically `pipewire-pulseaudio` is just a meta package with a flag file (which enables pipewire's alternative pulseaudio server) inside.
In Arch, pipewire-pulseaudio provides (conflicts with)  `pulseaudio` and `pulseaudio-b

[2020-12-16 22:51] gombosg commented on #147
Thanks for the details!
@soredake - wow, this is so recent... like it's being developed right now.
I personally think it's too early for F34 next spring, but they pushed through the change and looks like it will make it.

And we should provide some upgrade path for users...

In Fedora, too.

So basically:
- aptX, LDAC - all OK
- aptX HD, AAC - keep an eye on it

And announce to users somehow durin

[2020-12-16 22:53] gombosg commented on #147
@EHfive it's great to see you contributing to pipewire! I hope you'll have a much better experience than Pali had with PA.

[2020-12-16 23:13] EHfive commented on #147
I think it's quite easy to upgrade as long as bluez5 support is enabled by default on packaging.
End users can transparently replace pulseaudio with pipewire without any configuration requirements.

[2020-12-20 03:04] raffaelemancuso commented on #31
Hi,

I tried your method and got:

[code]

Where can I find the codecs supported by my headset?

[2020-12-20 08:54] Lastique commented on #31
For some reason in your case there is no "All Capabilities" command and response, where the capabilities should be listed. But "Set config" says LDAC was chosen.

[2020-12-20 15:36] EHfive commented on #124
Seems it's a bluez bug.
https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/479#note_735270

[2020-12-20 15:47] EHfive commented on #135
More like "different profile for different device". It's possible to implement it.

[2020-12-20 15:48] EHfive commented on #143
Have you installed ffmpeg?
Except SBC, aptX, AAC, your device also supports "Vendor Specific Codec ID 0x0025" -> aptX HD and other unknown codecs.

[2020-12-20 15:50] EHfive commented on #134
Can you run `ldconfig -p | grep avcodec` ?
My outputs:
[code]

[2020-12-20 15:57] EHfive commented on #131
Does it work with pulseaudio 14.0?

[2020-12-20 16:02] #51 closed

[2020-12-20 16:21] IDeathByte commented on #131
Yep. Not sure about non-git bluez-qt

[2020-12-20 16:23] JaneSmith commented on #141
I don't know what `--allowerasing` is, but it doesn't seem to exist. Fedora Silverblue uses the `rpm-ostree` package manager.

In any case, this issue seems to have gone away. I'm not sure why... It was definitely not working before, but now I am able to install it with no problems.

[2020-12-20 16:23] #141 closed

[2020-12-20 16:39] EHfive commented on #115
With works of many people (include me), PipeWire now supports LDAC/ aptX/ aptX HD and mSBC (on hsphfpd or ofono).

Since I just moved to PipeWire. and I am intend to deprecate this project soon or later (https://github.com/EHfive/pulseaudio-modules-bt/issues/145#issuecomment-743765305). For anyone who still interested in microphone support on GNU/Linux, please move to [PipeWire community](https://

[2020-12-20 16:39] #115 closed

[2020-12-20 16:44] EHfive commented on #131
Surely it's not related with bluez-qt except potential dependency issues.

[2020-12-20 16:44] #131 closed

[2020-12-20 16:45] EHfive commented on #47
Maybe it can be fixed by switching to libopenaptx.

[2020-12-20 16:46] #26 closed

[2020-12-20 16:51] pali commented on #115
@EHfive: I'm not surprised in your movement.

Pulseaudio admins/maintainers blocked for years every bluetooth improvement and when it come to starting explaining things, they [stopped communicating](https://github.com/pali/hsphfpd-prototype/issues/13#issuecomment-748395419), saying that everything is [total lie](https://github.com/pali/hsphfpd-prototype/issues/13#issuecomment-743288032), started [

[2020-12-20 17:17] jaccc commented on #143
It doesn't support aptX HD according to Haylou and Qualcomm pages.
aptX HD should be 0x0024.

[2020-12-20 17:28] jaccc commented on #143
Found page https://helgeklein.com/blog/2020/09/how-to-check-which-bluetooth-a2dp-audio-codec-is-used-on-windows/
0x0104	- The CSR True Wireless Stereo v3 Codec ID for AAC

[2020-12-20 17:32] EHfive commented on #143
Oh, yes. Seems those are aptX Adaptive and Qualcomm ANC (Adaptive).

So you want support of those codecs?
Without any spec or en/decoder of those, it's not possible to achieve it.

[2020-12-20 17:37] raffaelemancuso opened #148 "Donations"
Do you accept donations?

[2020-12-20 17:47] EHfive commented on #148
No need, the work on this has already done.

Maybe I would start using something like Patreon on my future long term projects.

[2020-12-20 18:07] EHfive commented on #115
@pali I believe they do have interests. Maybe they just don't know or don't have time (the project is mainly maintained by only one person @wtay).

It's pity that PA admins still has not unbanned you.

[2020-12-20 18:43] sheepdestroyer commented on #115
PA admins did unban him,
However he was promptly rebanned by someone external to the PA project. An Xorg CoC team member acting as a CoC enforcer for all of freedesktop's gitlab and hosted projects apparently.

[2020-12-21 01:40] #148 closed, assigned to EHfive

[2020-12-21 06:38] IDeathByte commented on #147
i hope extended sbc profiles will be supported in pipewire too :)
i have better experience on my headphones than with aptx (no quantum-noises and higher bitrate)

Thanks for your work :)

[2020-12-21 08:57] gombosg commented on #147
Well, for Fedora we have libldac and I started packaging [libopenaptx](https://bugzilla.redhat.com/show_bug.cgi?id=1908922).
Looks like this `pulseaudio-modules-bt` will be removed during the upgrade, because pipewire replaces pulseaudio, and hence `pulseaudio-modules-bluetooth` as well.
For AAC support I can't say anything, maybe it won't be supported by pipewire unfortunately.

[2020-12-21 13:05] soredake commented on #115
Does pipewire supports [sbc hd/xq](https://github.com/EHfive/pulseaudio-modules-bt/pull/90)? If not the quality of sound on my sbc-only headphones will be bad. I asked in bugtracker but no one answered https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/249#note_732636

[2020-12-21 13:25] EHfive commented on #115
@soredake  No. Actually those are just several parameters on sbc encoder, maybe we would have it in future, see https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/348.

Please move to #147 for discussions on PipeWire.

[2020-12-21 13:55] soredake commented on #147
Only blocker for migrating to pipewire for me is [this ](https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/495)and [this](https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/348)

[2020-12-21 19:18] soredake commented on #147
Seems ubuntu and debian not ready for using pipewire as pulseaudio replacement :(
![изображение](https://user-images.githubusercontent.com/5204968/102813748-0de16300-43d2-11eb-8eb2-44bdec308829.png)

[2020-12-23 07:29] raffaelemancuso commented on #31
Yes, LDAC it's what I had selected in blueman as my codec. So it is not showing all the capabilities but only the one I have selected.

I [opened a bug report](https://bugs.launchpad.net/ubuntu/+source/bluez/+bug/1907886) asking Ubuntu maintainers to include a package that mirrors bluez/tools.

In the meantime, I compiled it from source:

[code]

This is the output for my WH-1000XM3

[code]

How c

[2020-12-30 16:09] linusyukwong opened #149 "Support for changing AAC frequency cutoff"
FDK-AAC clips frequency above 17kHz by default, but it can be increased to 20kHz by using -w, --bandwidth 20000
It would be great if this option is exposed.

Reference:
http://wiki.hydrogenaud.io/index.php?title=Fraunhofer_FDK_AAC#Bandwidth

[2020-12-30 17:37] soredake commented on #147
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/440

[2020-12-31 11:39] #133 closed

[2021-01-01 01:37] evansan opened #150 "Errors when trying to use SBC"
Arch Linux with [pulseaudio-modules-bt-git](https://aur.archlinux.org/packages/pulseaudio-modules-bt-git),
if I try to switch to SBC manually via gnome sound settings, Bluetooth will then disconnect.

Intel AX200 & Samsung Galaxy Buds Plus

/etc/pulse/default.pa content:

[code]
pactl output

[code]

<details>
  <summary>journalctl -u bluetooth</summary>

[code]
</details>

<details>
  <summary>pu

[2021-01-03 11:01] Mic92 commented on #121
I had to follow this hack to make it available: https://wiki.archlinux.org/index.php/Bluetooth_headset#HFP_not_working_with_PulseAudio

[2021-01-12 17:11] ghjp commented on #137
This bug is still present!

[2021-01-13 04:34] TudorVersoiu opened #151 "[BUG]"
Aptx HD not available on Sennheiser HD 350bt

Bluemann fails to change the audio profile to Aptx HD. Pavucontrol shows it as unavailable.

Distribution: Manjaro Manjaro 20.2.1 Nibia(kernel 4.x)
Pulseaudio 14.0
Both AUR git version and precompiled packages tested with the same result.

Output of `avinfo`:
[code]

I think that the vendor ID's for Aptx HD that sennheiser uses are non standard.(I've s

[2021-01-13 04:39] #151 closed, assigned to EHfive

[2021-01-13 04:43] TudorVersoiu commented on #151
Nevermind, after a double check I found out that contrary to what I've read somewhere about them, they don't actually support Aptx HD, just Aptx, so this should probably be deleted.

[2021-01-15 05:16] EvanCarroll opened #152 "[BUG] error: pathspec 'v14.0' did not match any file(s) known to git"
Getting an error when I copy-paste commands,

[code]

This can be fixed with,

[code]

After the `submodule init` to ensure that if already initialized, that the submodules are still in sync.

[2021-01-15 16:57] mogenson commented on #139
Just adding that I have the same headphones and using the settings listed above I see the same issue.

From `btmon`:
[code]

[2021-01-15 21:47] ZLima12 commented on #152
If you solved your issue, why not share how you did it? That way, others who have the same issue will be able to solve it as well.

[2021-01-15 22:03] EvanCarroll commented on #152
Because I'm not sure of what actually solved the problem @ZLima12. I isolated the problem to having an out of date submodule. That could be fixed by removing the pa/ directory and rerunning `--init` on it. I think you can also run `git submodule sync --recursive`. I don't know that either of these made it work though, upon building I was getting (from `journalctl --user /usr/bin/pulseaudio`)

[2021-01-16 13:02] aljazzair commented on #139
Pali's solution linked above works. It involves replacing pulsaudio altogether.
You can also scrap Pulseaudio and go with bluez-alsa:
https://github.com/Arkq/bluez-alsa
Both alternative solutions allow Bose 700 to work in Dual Channel SBC XQ.

[2021-01-17 02:17] #152 closed, assigned to EHfive

[2021-01-18 03:25] ashleysommer opened #153 "[BUG] Can no longer switch from HFP/HSP to any other profile"
**Describe the bug**
Can no longer switch from HFP/HSP to any other profile

**To Reproduce**
Steps to reproduce the behavior:
1) Connect APT-X headphones to laptop.
2) Headphones connect automatically in HFP/HSP profile.
3) Attempt to switch profile to either APTX, APTX HD, or SBC
4) Profile does not change
5) Check system journal, "Attempt to switch profile, not connected."

**Expected behavior*

[2021-01-18 03:34] ashleysommer commented on #153
I'd tried stopping and restarting Pulseaudio, and well as stopping and restarting Bluez, but got the same problem.

Finally I got a chance this afternoon to reboot the laptop, and now the problem is gone. I don't know what caused it, but its fixed now.

[2021-01-18 03:34] #153 closed, assigned to EHfive

[2021-01-18 10:28] EHfive opened #154 "Deprecation Announcement"
Since I have already switched to PipeWire and I don't want to pay further efforts on this. I am going to deprecate this project. The repo will be archived on January 25.

Although the modules are still working on current PulseAudio Releases(12.0 - 14.1) and later API compatible releases. I would recommend you to switch to vanilla PulseAudio or PipeWire.
There is a WIP MR adding extra A2DP codecs s

[2021-01-18 10:33] EHfive commented on #150
This project has been deprecated. #154

[2021-01-18 10:35] soredake commented on #154
I hope ppa will be updated for 21.04, new pulseaudio version is not released, so 21.04 will have vanilla pulseaudio without codecs.

[2021-01-18 10:37] EHfive commented on #149
This project has been deprecated. #154

I would try adding support for this on PipeWire if this feature is achievable on A2DP.

[2021-01-18 10:40] EHfive commented on #143
This project has been deprecated. #154

[2021-01-18 10:42] EHfive commented on #137
This project has been deprecated. #154

There will be no bug fixing commits anymore.

[2021-01-18 10:43] EHfive commented on #135
This project has been deprecated. #154

I would try adding/proposing support for this on PipeWire.

[2021-01-18 10:44] EHfive commented on #134
This project has been deprecated. #154

[2021-01-18 10:45] EHfive commented on #126
This project has been deprecated. #154

There will be no bug fixing commits anymore.

[2021-01-18 10:47] EHfive commented on #124
This project has been deprecated. #154

Please report this bug to bluez community.

Close.

[2021-01-18 10:47] #124 closed

[2021-01-18 10:48] EHfive commented on #121
This project has been deprecated. #154

There will be no bug fixing commits anymore.

[2021-01-18 10:48] #72 closed

[2021-01-18 10:48] EHfive commented on #47
This project has been deprecated. #154

There will be no bug fixing commits anymore.

[2021-01-18 10:52] EHfive commented on #97
This project has been deprecated. #154

I would try proposing a fix for this on PipeWire.

[2021-01-18 10:58] #143 closed

[2021-01-18 11:56] soredake commented on #154
@berglh will you update ppa to 21.04 for the last time?

[2021-01-18 18:26] rene-dev commented on #124
https://github.com/bluez/bluez/issues/85

[2021-01-18 19:45] bcremer commented on #154
Thanks for all the work you put in this on the last 2+ years.

[2021-01-18 22:59] berglh commented on #154
@soredake Absolutely. I had a feeling that LDAC wasn't being included in the original MR for PulseAudio, but it now looks like the MR has a lease of new life. We'll keep an eye on this MR, if it's landed and functional for 21.04, I won't bother though.

[2021-01-19 10:06] lucasfijen commented on #154
@EHfive and @berglh Thank you so much for your effort on this repo! I've been enjoying ldac so much!

Glad it'll now be implemented in a more official way so that more people will be able to enjoy good audio:)

[2021-01-19 10:09] soredake commented on #154
Feature freeze will happen [soon](https://discourse.ubuntu.com/t/hirsute-hippo-release-schedule/18539) :(

[2021-01-19 11:28] berglh commented on #154
@EHfive Thanks for all your personal help and guidance for bringing your excellent work to the Ubuntu users.
@soredake I will build closer to the release date, open a new issue and tag me in it when it's launch day. I'll upgrade my laptop and get it tested and built.

[2021-01-19 19:37] artizirk commented on #154
PulseAudio codecs support was just merged upstream! https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/440

[2021-01-20 09:03] soredake commented on #154
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/476

[2021-01-22 04:38] Roger-ZRZ commented on #154
Sorry to ask, but are there any other stable alternatives we can use to stream AptX or LDAC for now?

[2021-01-22 05:47] EHfive commented on #154
PipeWire.

https://gitlab.freedesktop.org/pipewire/pipewire/-/blob/master/NEWS

[2021-01-25 10:22] IDeathByte commented on #154
PipeWire supports extended SBC options now?